<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <strong>Investor portfolio</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" class="form-horizontal">
            <div class="row">
              <div class="form-group col-sm-6">
                <input type="text" class="form-control" formControlName="email" id="name" placeholder="email">
              </div>
            </div>

            <div class="row">
              <div class="form-group col-sm-6">
                <input type="password" class="form-control" formControlName="password" id="password" placeholder="">
              </div>
            </div>

            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa"></i> Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>