<div class="row">
  <div class="section-title">Current structure</div>

  <div class="twoColFlex">
    <div class="col-table left-col">
      <mat-table [dataSource]="getStakingCoins()" class="mat-elevation-z8">
        <ng-container matColumnDef="coin">
          <mat-header-cell class="cell-coin" *matHeaderCellDef> Coin </mat-header-cell>
          <mat-cell class="cell-coin coin" *matCellDef="let element">
            <div class="coin-icon {{element.currencyCode.toLowerCase()}}"></div>
            <div class="coin-text">{{element.currencyName}}</div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="amount">
          <mat-header-cell class="cell-amount" *matHeaderCellDef> Amount </mat-header-cell>
          <mat-cell class="cell-amount" *matCellDef="let element"> {{element.amountCrypto | number: '1.2-2'}} {{element.currencyCode}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="usd">
          <mat-header-cell class="cell-usd" *matHeaderCellDef> USD </mat-header-cell>
          <mat-cell class="cell-usd" *matCellDef="let element"> {{element.amountFiat | number: '1.2-2'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="percent">
          <mat-header-cell class="cell-percent" *matHeaderCellDef> % </mat-header-cell>
          <mat-cell class="cell-percent" *matCellDef="let element"> {{element.percent | number: '1.2-2'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="element-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

    <div class="col-chart right-col">
      <pie-chart></pie-chart>
    </div>
  </div>
</div>

<div class="row">
  <div class="section-title">Staking coins</div>

  <div class="twoColFlex">
    <div class="col-coins left-col">
      <div *ngFor="let coin of getCurrentStructure(0)">
        <coin-card [coin]="coin" [points]="getPoints(coin.currencyCode)" (onBuy)="buy($event)" (onSell)="sell($event)"></coin-card>
      </div>
    </div>
    <div class="col-coins right-col">
      <div *ngFor="let coin of getCurrentStructure(1)">
        <coin-card [coin]="coin" [points]="getPoints(coin.currencyCode)" (onBuy)="buy($event)" (onSell)="sell($event)"></coin-card>
      </div>
    </div>

  </div>
</div>