mat-table {
  width: 700px;
}

mat-row.element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

mat-row.element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.section-title {
  width: 100%;
  margin: 12px 4px;
  text-align: left;
}

