<h2 class="section-title">Staking coins</h2>

<div>
  <mat-table [dataSource]="getStakingCoins()" class="mat-elevation-z8">
    <!-- Position Column -->
    <ng-container matColumnDef="coin">
      <mat-header-cell *matHeaderCellDef> Coin </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.currencyName}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amountCrypto}} {{element.currencyCode}}</mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="usd">
      <mat-header-cell *matHeaderCellDef> USD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.amountFiat | number: '1.0-2'}} </mat-cell>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="percent">
      <mat-header-cell *matHeaderCellDef> % </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.percent | number: '1.0-2'}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="example-element-row" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>

<div class="twoColFlex">
  <div class="col left-col">
    <div *ngFor="let coin of getCurrentStructure(0)">
      <coin-card [coin]="coin"></coin-card>
    </div>
  </div>
  <div class="col right-col">
    <div *ngFor="let coin of getCurrentStructure(1)">
      <coin-card [coin]="coin"></coin-card>
    </div>
  </div>

</div>