<div class="twoColFlex">
  <div class="col left-col">

    <h2 class="section-title">Staking coins</h2>
    <div>
      <mat-card class="product-card">
        <mat-card-title-group>
          <mat-card-title>Bitcoin</mat-card-title>
          <mat-card-subtitle>BTC</mat-card-subtitle>
          <!--<img mat-card-lg-image src="{{ slProduct.imgUrl}}"/>-->
        </mat-card-title-group>

      </mat-card>

      <mat-card class="product-card">
          <mat-card-title-group>
            <mat-card-title>AAAAAAA</mat-card-title>
            <mat-card-subtitle>dskfljkljfds</mat-card-subtitle>
            <!--<img mat-card-lg-image src="{{ slProduct.imgUrl}}"/>-->
          </mat-card-title-group>

          <button mat-raised-button>
            Buy
          </button>

          <button mat-raised-button>
            Sell
          </button>

        </mat-card>
    </div>
  </div>
</div>
