.section-title {
  width: 100%;
  margin: 12px 4px;
  text-align: left;
}

.legend {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.period-controls {
  margin-left: 10px;
}

.coin-controls {
  margin-right: 10px;
  font-size: 20px;
}

.period-control {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  margin: 0 8px;
  cursor: pointer;
}

.period-control-selected {
  color: #003399 !important;
}

.legend-control {
  background:none!important;
  color:inherit;
  border:none;
  padding:0!important;
  font: inherit;
  margin: 0 8px;
  cursor: pointer;
}

.legend-btc::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgb(242, 169, 0);
}

.legend-eth:before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgb(98, 126, 234);
}

.legend-xrp::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgb(0, 96, 151);
}

.legend-ltc::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgb(211, 211, 211);
}

.legend-dash::before {
  content: ' ';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: rgb(0, 141, 228);
}