<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="40" class="navs">
        <a mat-raised-button *ngFor="let item of topMenuItems" (click)="onSelect(item.link)">
          {{item.name | uppercase}}
        </a>
      </div>
      <div style="color: black" *ngIf="isAuthorized()" fxFlex class="user-info">
          Hello, {{getUserName()}}
      </div>
      <div fxFlex class="text-right">
        <div style="color: black" *ngIf="!isAuthorized()">
          Have an account?
          <a class="link" routerLink="login">Sign In</a>
        </div>
        <a class="link" *ngIf="isAuthorized()" (click)="logout()">Sign Out</a>
      </div>
    </div>
  </nav>
</header>
