<header>
  <nav>
    <div fxFlex fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center">
      <div fxFlex="40" class="navs">
        <a mat-raised-button *ngFor="let item of topMenuItems" (click)="onSelect(item.link)">
          {{item.name | uppercase}}
        </a>
      </div>
      <div fxFlex class="text-right">
        <a *ngIf="!isAuthorized()" routerLink="login">login</a>
        <a *ngIf="isAuthorized()" (click)="logout()">logout</a>
      </div>
    </div>
  </nav>
</header>
