:host(coin-card) {

  mat-card {
    width: 500px;
    mat-card-header {

    }
  }

  .coin-card {
    margin: 4px;
  }

  .currency-title {
    width: 60px;
    margin-left: -28px;
  }

  .coin-title-icon {
    width: 32px;
    height: 32px;
  }

  .btc {
    background-image: url(../../../../node_modules/cryptocurrency-icons/svg/color/btc.svg)
  }

  .eth {
    background-image: url(../../../../node_modules/cryptocurrency-icons/svg/color/eth.svg)
  }

  .xrp {
    background-image: url(../../../../node_modules/cryptocurrency-icons/svg/color/xrp.svg)
  }

  .ltc {
    background-image: url(../../../../node_modules/cryptocurrency-icons/svg/color/ltc.svg)
  }

  .dash {
    background-image: url(../../../../node_modules/cryptocurrency-icons/svg/color/dash.svg)
  }

  .staking-amount {
    padding-left: 40px;
    width: 200px;
  }

  .change-by-period {
    height: 100%;
    width: 156px;
    padding: 2px 16px;
    flex-grow: 0;
    display: inline-block;
    font-family: 'Allerta', serif;
    font-size: 11px;
    color: gray;
  }

  .change {
    font-size: 18px;
  }

  .gain {
    color: green;
  }

  .loose {
    color: red;
  }

  .market-stats {
    height: 100%;
    width: 145px;
    flex-grow: 0;
    display: inline-block;
    font-family: 'Allerta', serif;
    font-size: 11px;
    color: gray;
  }
}
