.filter-container {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 8px;
  margin-left: 8px;
}

.chart-container {
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
  box-sizing: border-box;
}

.reset-button {
  font-weight: normal;
  font-size: 0.9em;
}

.chart-title {
  font-size: 12px;
  text-align: center;
  height: 34px;
  display: block;
}

.no-data-message {
  font-size: 28px;
  text-align: center;
  padding-top: 64px;
}

canvas {
  width: 400px;
  height: 400px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}