.chart-container {
  width: 400px;
  height: 400px;
  max-width: 400px;
  max-height: 400px;
  box-sizing: border-box;
}

canvas {
  width: 400px;
  height: 400px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}